/* cyrillic-ext */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKcg72j00.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKew72j00.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKcw72j00.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfA72j00.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKcQ72j00.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ubuntu/v20/4iCs6KVjbNBYlgoKfw72.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
body,html{
    box-sizing: border-box;
    padding: 0;
    margin: 0 0 0 0;
    background-color: #e0e0e0;
}
header, footer{
    
    background-color: rosybrown;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    bottom: 0px;

}
/* .box{
    height: 100%;
} */
#logo{
    height: 60px;
    width: 60px;
}
#social_media1,#social_media2,#social_media3,#social_media4{
    height: 20px;
    width: 22px;
}
.search_bar{
    
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    height: 380px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* align-content: center; */
}
#city_search{
    /* align-content: center;
    border-radius: 10%; */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-left: 42%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid transparent;
    background-color: #f1f1f1;
    border-radius: 12px;
    width: 250px;
    
    
    
}
#img1,#img2,#img3,#img4{
    padding: 4%;
    border-radius: 25%;
}
#city_carts{
    
    margin-left: 18%;
    margin-right: 15%;
}
/* checkpoint 6 */
*{
    font-family: 'Ubuntu', sans-serif ;

}

header{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
}

#logo{
    align-items: center;
}
#login{
    align-items: center;
    margin-right: 1%;
    text-decoration: none;
    color: black;
}
/* #login{
    
    display: flex;
    flex-direction: row;
    justify-content: end;
  
    float: right;
    text-decoration: none;
    color: black;
    padding-right: 1%;
    position: relative;
    margin-top: 1.5%;

}  */
/* /* check point 6 for footer */
/* .footer{
    display: grid; */
    /* flex-direction: row;
    justify-content: space-between; */  
/* } */

/* #contact{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

.social_media{
    display: flex;
    flex-direction: row;
    position: relative;
    float: right;
    
    
    align-items: center;
}
#copyright{
    display: flex;
    position: relative;
    align-content: center;
    align-items: center;
    margin-bottom: 1px;
    padding-top: 15px;
    font-size: 10px;
} */

footer{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
    align-items: center;
    height: 60px;
}
#contact{
    text-decoration: none;
    color: black;
    margin-left: 1% ;
}
.social_media{
    margin-right: 1%;
}
#copyright{
    margin-top: 50px;
    font-size: 10px;
}
#view{
    display: flex;
    flex-direction: row;
    color: black;
    text-decoration: none;
    align-items: center;
    align-content: center; 
    justify-content: center;
    height: 15em;
    /* text-align: center; */
}